<div class="container">
  <div class="header">
    <h1>Einladung</h1>
  </div>
  <div class="content">
    <div class="info" *ngIf="hasNotAnswered">
      Wir möchten euch gerne zu unserer Halloween Party einladen!
      <div class="question">
        <div class="important">Wann:</div>
        <div class="answer">31.10.2022 - 18 Uhr</div>
      </div>
      <div class="question">
        <div class="important">Wo:</div>
        <div class="answer">Ganghoferstraße 28, <br />67227 Frankenthal</div>
      </div>
      <div class="question">
        <div class="important">Wie:</div>
        <div class="answer">Im Kostüm</div>
      </div>
    </div>
    <div class="note">
      Bitte gebt uns schnellstmöglich Bescheid ob ihr kommt!
      <br />
      <input
        type="text"
        *ngIf="hasNotAnswered"
        [value]="name"
        placeholder="Namen eingeben"
        (input)="inputChange($event.target)"
        [ngClass]="{ empty: isNameFieldEmpty() }"
      /><br />
      <input
        type="text"
        [value]="text"
        placeholder="Ich bringe mit..."
        (input)="inputChange2($event.target)"
        *ngIf="hasNotAnswered"
      />
      <div class="buttons" *ngIf="hasNotAnswered">
        <button
          ejs-button
          cssClass="e-success"
          (click)="yes()"
          [disabled]="isNameFieldEmpty()"
        >
          Ja, wir kommen
        </button>
        <button
          ejs-button
          cssClass="e-danger"
          (click)="no()"
          [disabled]="isNameFieldEmpty()"
        >
          Nein, ich habe Angst
        </button>
      </div>
      <div *ngIf="!hasNotAnswered">
        <div class="answer" *ngIf="clickedYes">
          Wir freuen uns auf euch!
          <br />
          Fried & Alex
          <img
            src="https://c.tenor.com/n_nHdUlInd8AAAAC/frankenstein-friend.gif"
            alt="Frankenstein Friend GIF - Frankenstein Friend GIFs"
          />
        </div>
        <div class="answer" *ngIf="clickedNo">
          Schade! Halte dir nächstes Jahr frei!
          <br />
          Fried & Alex

          <img
            src="https://c.tenor.com/yT_3YU8w3hIAAAAC/screaming-mary-wollstonecraft-shelley.gif"
            alt="Screaming Mary Wollstonecraft Shelley GIF - Screaming Mary Wollstonecraft Shelley The Monsters Mate GIFs"
          />
        </div>
      </div>
    </div>
  </div>
</div>
