/* You can add global styles to this file, and also import other style files */


body{
    
    background-image: url('./assets/1189280.jpg');
    background-size:cover;
    background-color: black;
    background-repeat:no-repeat;
    color: #7CB25A;
    font-family: 'Creepster', cursive;
}