@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';

body{
    
    background-image: url('./assets/1189280.jpg');
    background-size:cover;
    background-color: black;
    background-repeat:no-repeat;
    color: #7CB25A;
    font-family: 'Creepster', cursive;
}